@font-face {
  font-family: Corbel;
  src: url(../fonts/CORBEL.TTF);
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
 
::after, ::before {
  box-sizing: border-box;
}
 
h1, h2, h3, h4, h5, h6, ol, ul, p, address, strong, i {
  margin-top: 0px;
  margin-bottom: 0px;
}
   
ul, li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

body {
  color: #fff;
  background: #0e1215;
  font-family: 'Roboto', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #191B1F; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #444; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/* basic css end */

/* common css start */
.bg-dark {
  background-color: #0e1215;
}

.bg-danger {
  background-color: #ff0000;
}

.text-danger {
  color: #ff0000 !important;
}

.btn {
  font-weight: 500;
  border-color: transparent;
  color: #fff;
}

.btn-dark {
  background-color: #0e1215;
}

.btn-danger {
  background-color: #ff0000!important;
}

.more-btn {
  color: #ff0000;
  background: #0e1215;
  margin-bottom: -20px;
}

.modal-content {
  background: #24282e;
}

.modal-content .form-control {
  background: #14171b;
  color: #fff;
  border-color: transparent
}

.modal-title {
  position: relative;
}

.modal-title::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 10px;
  background: #ff0000;
  top: 100%;
  left: 0;
  border-radius: 10px;
}

.modal-header {
  padding: 1rem 1rem 5px 1rem;
  overflow: hidden;
  border-bottom: 2px solid #0e1215;
}

.modal-footer {
  border-top: 2px solid #0e1215;
}

.modal .close_btn {
  font-size: 25px;
  font-weight: 900;
  color: #ff0000;
  text-shadow: none;
  opacity: 1;
}
.modal .register-label i {
  color: #ff0000;
  font-size: 12px;
  margin-top: 0px;
  display: block;
  padding-left: 5px;
}
.modal .form-control::placeholder {
  color: #fff;
}



/*// end of common css */

/* main css start */

/* === header section start === */
.navbar {
  background: #202225;
  overflow: hidden;
}

.navbar-brand {
  max-width: 180px;
}

.navbar-dark .navbar-nav .nav-link {
  font-family: Corbel;
  color: #adadad;
  position: relative;
  display: block;
}

.navbar-dark .navbar-nav .nav-link.active::before {
  content: '';
  width: 100%;
  height: 10px;
  background: #ff0000;
  border-radius: 10px;
  position: absolute;
  bottom: -16px;
  left: 0;
}

.navbar .form-control {
  background: #14171b;
  color: #fff;
  border-color: transparent
}

.navbar .form-control::placeholder {
  color: #5f6061;
  font-size: 18px;
}

.navbar .input-group-text {
  background: #32353b;
  color: #fff;
  border-color: transparent;
  font-size: 25px;
}
/* ===//end of header section === */

/* === main content start === */
#main-conent {
  margin-top: 68px;
}
/* ===// end of main content === */

/* === left_side_bar section start === */
.sidebar {
  margin-left: -15px;
  background: #191b1f;
  padding: 30px 15px 0 15px;
}

.sidebar .recommended-item {
  margin-bottom: 10px;
}

.sidebar .recommended .title {
  font-weight: 500;
  font-size: 22px;
}

.sidebar .recommended-item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
}

.sidebar .recommended-item .text h5 {
  font-family: Corbel;
  font-size: 23px;
  font-weight: 400;
  color: #fff;
  line-height: 1;
}

.sidebar .recommended-item .text p {
  font-family: Corbel;
  font-size: 18px;
  font-weight: 400;
  color: #b5b5b5;
}

.sidebar .recommended-item .right {
  font-size: 16px;
  font-weight: 500;
  padding-top: 10px;
  color: #fff;
}

.sidebar .recommended-item .right span {
  width: 10px;
  height: 10px;
  background: #ff0000;
  display: block;
  border-radius: 50%;
  margin: 7px 5px 0 0;
}

.sidebar .register-box {
  margin: 80px 0px;
  background: #0e1215;
  padding: 30px;
  border-radius: 30px;
}

.sidebar .register-box h4 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 10px;
}

.sidebar .register-box h5 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.footer {
  background: #212226;
  margin: 0 -15px;
  padding: 50px 15px 30px 15px;
}

.footer .social-link li,
.footer .link li {
  display: inline-block;
  padding: 5px;
}

.footer .link li a {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.footer .link li a:hover {
  text-decoration: underline;
}

/* ===//end of left_side_bar section === */

/* === video section start === */
.video {
  background: url(../images/wev_bg_1.png) no-repeat bottom left/cover;
  padding: 15px 15px 50px 15px;
  border-radius: 15px;
}

.watch-video .video-title {
  font-size: 16px;
  font-weight: 500;
  color:  #fff;
  padding: 5px 0 0 10px;
}

.watch-video .channel-img {
  max-width: 30px;
  max-height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.video .play-list a {
  position: relative;
  border: 2px solid transparent;
  border-radius: 2px;
  display: block;
  z-index: 1;
}

.video .play-list a:hover,
.video .play-list a.active {
  border: 2px solid #ff0000;
}

.video .play-list a:hover::before, 
.video .play-list a.active::before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%) rotate(45deg);
  z-index: 2;
  border-left: 10px solid red;
  border-right: 10px solid transparent;
  border-bottom: 10px solid red;
  border-top: 10px solid transparent;
}
/* ===//end of video section === */

/* === now live section start === */
.now-live {
  background: url(../images/wev_bg_2.png) no-repeat bottom left/cover;
  padding: 0 15px;
  border-radius: 15px;
  height: 100%;
}

.now-live-header {
  background: #ff0000;
  padding: 20px 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin: 0 -15px;
  position: relative;
}

.now-live-header .live-logo {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.now-live-header h6 {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.live-item {
  border-bottom: 4px solid #0e1215;
  padding: 10px 0;
  display: block;
}

.live-item:last-child {
  border-color: transparent;
}

.live-item .channel-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  margin-right: 5px;
  overflow: hidden;
}

.live-item .channel-logo img {
  width: 100%;
}

.live-item .title {
  font-size: 12px;
  color: #fff;
}

.live-item .number {
  font-size: 9px;
  color: #fff;
  line-height: 0;
}

.live-item .icon i {
  font-size: 10px;
  color: #ff0000;
}

.live-item .right {
  min-width: 70px;
  padding-top: 10px;
}

.live-item .right .text {
  font-size: 11px;
  font-weight: 500;
  padding-left: 5px;
  color: #fff;
}
/* ===//end of now live section === */

/* === category section start === */
.category .heading {
  font-family: Corbel;
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 20px;
}

.category-full {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
  grid-gap: 15px;
}

.category_item img {
  width: 100%;
  border: 5px solid #252729;
  border-radius: 15px;
  margin: 5px 0;
}

.category_item .name {
  font-family: Corbel;
  color: #fff;
  font-size: 14px;
}

.category_item i {
  font-size: 12px;
  color: #ff0000;
}

.category_item span {
  font-size: 10px;
  font-weight: 500;
  color: #747770;
}

.line {
  width: 100%;
  height: 3px;
  background: #272a2d;
}
/* ===//end of category section === */

/* === adult section start === */
.adult-content .heading {
  font-family: Corbel;
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: -55px;
}

.adult-content form {
  padding-top: 4px;
}

.adult-content .text-label {
  padding-right: 45px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
}

.adult-content label {
  cursor: pointer;
}

.custom-control-input:checked~.custom-control-label::before {
  background-color: #fff;
}

.custom-switch .custom-control-input:checked~.custom-control-label::after {
  background-color: lightgreen;
}

.adult-content .lang-btn {
  background: #24282b;
  color: #fff;
  font-size: 12px;
}

.adult-content .dropdown-item {
  padding: .15rem 1rem;
  font-size: 10px;
}

.adult-item-full {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(180px, 1fr) );
  grid-gap: 15px;
}

.adult-item img {
  border-radius: 10px;
  display: block;
  margin-bottom: 10px;
}

.adult-item .channel-logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
}

.adult-item .tilte {
  font-family: Corbel;
  font-size: 14px;
  color: #fff;
  line-height: 15px;
  margin-bottom: 12px;
}

.adult-item .name {
  font-family: Corbel;
  font-size: 12px;
  color: #fff;
  line-height: 0;
  margin-bottom: 5px;
}

.adult-item span {
  font-family: Corbel;
  font-size: 9px;
  color: #fff;
  display: block;
  
}
/* ===//end of adult section === */

/* === footer section start === */
/* ===//end of footer section === */

/* color: #ff0000; */